
* {
    color: #c9d1c8; 
    font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
}

body {
    background: black;
    margin: 0 15px 0px 15px;
    padding: 0;
}

p {
    font-size: 20px;
    margin-bottom: 1em; /* Добавляем отступ между параграфами */
}

h1 {
    margin-top: 100px;
    margin-bottom: 1rem; /* Добавляем отступ снизу */
}

h2 {
    margin-bottom: 0.5rem; /* Отступ для h2 */
}

a {
    text-decoration: none;
    transition: 0.5s;
    color: #8ab4f8; /* Более заметный цвет для ссылок */
}
img{
    margin-left: 15px;
}
button{
    background-color: black;
}

a:hover {
    text-decoration: underline;
}

.center {
    display: flex;
    justify-content: center;
    margin: 30px auto 20px; 
}

.BigBox {
    margin: 0px;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex: 1; /* Добавляем чтобы занимал доступное пространство */
}

.block {
    width: auto;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1); /* Добавляем фон для стеклянного эффекта */
    margin-bottom: 15px;
}

.photo {
    /* margin-left:15px; */
    background-image: url("MyPhoto.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 365px;
    min-height: 365px;
    border-radius: 10px;

}

.column {
    display: flex;
    flex-direction: column;
    
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Центрируем содержимое */
    align-items: flex-start; /* Выравниваем по вертикали */
    gap: 15px;
    margin: 0px 0px;
    
}

/* Стили для иконок */
.fa-brands {
   
    color: #8ab4f8;
}

/* Адаптивность */
@media (max-width: 1024px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    
    .photoblock, .BigBox {
        margin: 10px;
    }
    
    h1 {
        margin-top: 50px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .block, .photoblock {
        width: 100%;
        max-width: 400px;
    }
    
    p {
        font-size: 16px;
    }
}

/* to-do fuck me */

.miniApp{
    /* margin-left: 15px; */
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px;
    width:100%;
    max-width: 380px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
}

.miniApp h2{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.row2{
    display: flex;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin-bottom: 15px;
}

.row2 input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 20px;

}

.row2 button{
    border: none;
    outline: none;
    background: transparent;
    padding: 16px 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}
.row2 button:hover{
    background:rgba(238, 228, 228, 0.1);
}

.miniApp ul li{
    list-style: none;
    font-size: 17px; 
    background:rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer; 
    position: relative;
    margin-left: -40px;
    text-align: start;
    word-break: break-all;
    
}
.miniApp li{
    margin-bottom: 10px;

    
}
.miniApp ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url("uncheked.png");
    background-size: cover;
    background-position: center;
    top: 13px; 
    left:15px; 
}

ul li.cheked{
    text-decoration: line-through;
}
ul li.cheked::before{
    background-image: url("checked.png");
}

ul li span{
    position: absolute;
    right: 20px;
    top:10px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    
}
ul li span:hover{
    background: rgba(255, 255, 255, 0.3);
}

.newInput input{

    border: none;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 14px 25px;
    text-align: end;
    margin-bottom: 15px;
    font-size: 20px;
}

.row3{
    display: flex;
    justify-content: center;
    gap:15px;
    flex-direction: row;
    margin-bottom: 15px;
}

.row3 input{
    /* color: #8ab4f8; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    gap: 10px;
    padding: 20px 20px ;  
    transition: background 0.1ms ease;
    
}

@media (hover: hover) {
    .row3 input:hover {
        background: rgba(152, 152, 152, 0.1);
    }
}
.row3 input:active {
    background: rgba(152, 152, 152, 0.1);
    
}


.defaultbutton{
    width: 100%;
    min-width: 30px;
    min-height: 30px;
}

.superbutton{
    width: 100%;
    min-width: 30px;
    min-height: 30px;
    color: #8ab4f8;
}

.pussy{
    width:36%;
    min-width: 30px;
    min-height: 30px;
    
}
.equal{
    width: 100%;
    min-width: 55px;
    min-height: 30px;
    color: #8ab4f8;

}
/* калькулятор */

/* zalupa dlu pogody */

.row888{
    display: flex;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin-bottom: 15px;
}

.row888 input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    text-align: center; 
    font-size: 20px;
}

.row888 button{
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 20px 15px 11px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.row888 button img {
    display: block; 
    max-width: 100%; 
    height: auto; 
}

.row888 button:hover{
    background:rgba(238, 228, 228, 0.1);
}

.weather-icon{
    width: 150px;
    margin-top: 20px;
}

.weather h1{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 1000;
}
.weather h2{
    font-size: 30px;
    font-weight: 300px;
    margin-top: -20px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
    margin-left: -20px;
    gap: 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 5px;
}

.col img{
    width: 50px;
    height: 50px;
}

.humidity{
    margin-top: 30px;
    margin-bottom: -10px;
    font-weight: 700;
}
.wind{
    margin-top: 30px;
    margin-bottom: -10px;
    font-weight: 600;
}
